[submodule "libs/Sound-and-Wrist-Motion-for-Activities-of-Daily-Living-with-Smartwatches"]
	path = libs/Sound-and-Wrist-Motion-for-Activities-of-Daily-Living-with-Smartwatches
	url = https://github.com/Human-Signals-Lab/Sound-and-Wrist-Motion-for-Activities-of-Daily-Living-with-Smartwatches.git
